In [1]:
import numpy as np
import pandas as pd
from scipy.optimize import linprog

In [133]:
df_1 = pd.read_csv('Q1.csv', index_col=0)
df_1 = df_1.rename(columns={'Time 0 price' : 'Price'})

A = df_1[['State 1', 'State 2' , 'State 3', 'State 4', 'State 5']].values.T
statePrice = df_1[['State 1', 'State 2' , 'State 3', 'State 4', 'State 5']].values
Price = df_1[['Price']].values

b = np.array([1, 1 , 1, 1,1])

weight, residuals, rank, singular_values = np.linalg.lstsq(A, b, rcond=None)

P = np.dot(weight, df_1['Price'].values)

risk_free_rate = (1/P) - 1

psi, residuals, rank, _ = np.linalg.lstsq(statePrice, Price, rcond=None)

print('Risk Free Interest Rate by State Price ' + str(((1/np.sum(psi))-1)*100))
print('Risk Free Interest Rate by Arbitarge Free ' + str(risk_free_rate*100))
print('Borrow at 2% to buy the assett and risk free rate > 2%')

Risk Free Interest Rate by State Price 4.5000000000000595
Risk Free Interest Rate by Arbitarge Free 4.500000000000015
Borrow at 2% to buy the assett and risk free rate > 2%

In [63]:
df_2 = pd.read_csv('Q2.csv', index_col=0)
df_2 = df_2.rename(columns={'Time 0 price' : 'Price'})

A = df_2[['State 1', 'State 2' , 'State 3', 'State 4', 'State 5']].values.T
statePrice = df_2[['State 1', 'State 2' , 'State 3', 'State 4', 'State 5']].values
Price = df_2[['Price']].values

psi, residuals, rank, _ = np.linalg.lstsq(statePrice, Price, rcond=None)

print('State Price \n'  + str(psi))

print('As State Price is all positive, there is no arbitarge opportunity')

State Price
[[0.09594138]
 [0.15309145]
 [0.1532252 ]
 [0.34287793]
 [0.23688839]]
As State Price is all positive, there is no arbitarge opportunity

In [153]:
df_3 = pd.read_csv('Q3.csv', index_col=0)
df_3 = df_3.rename(columns={'Time 0 price' : 'Price'})

statePrice = df_3[['State 1', 'State 2' , 'State 3']].values
Price = df_3[['Price']].values

A = df_3[['State 1', 'State 2' , 'State 3']].values.T
b = np.array([1, 0, 0])

weight, residuals, _, _ = np.linalg.lstsq(A, b, rcond=None)


psi, residuals, rank, _ = np.linalg.lstsq(statePrice, Price, rcond=None)

print('State Price \n'  + str(psi))

print('As State Price 1 is negative, there is an arbitarge opportunity')

State Price
[[-0.19756509]
 [ 0.491     ]
 [ 1.1239603 ]]
As State Price 1 is negative, there is an arbitarge opportunity

In [150]:
A = df_3[['State 1', 'State 2']].values
A_new = A[:-1, :]
b = np.array([1, 0])

weight, residuals, _, _ = np.linalg.lstsq(A_new, b, rcond=None)

In [149]:
weight

array([-0.07856371,  0.13104532])

In [155]:
p_up = 22.6 * weight[0] + 21.18 * weight[1]

In [158]:
p_down = 94.96 * weight[0] + 56.93 * weight[1]

In [157]:
df_3

   State 1  State 2  State 3      Price
0    22.60    21.18    10.70  17.960784
1    94.96    56.93    44.99  59.758824
2    10.00     0.00    20.00  20.503555

In [159]:
p_down

np.float64(-7.598683494034185)